In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("hospital.csv",squeeze=True,usecols=['population'])
df

0      31161376
1      19433602
2       2900401
3         84463
4       9141596
         ...
194      179727
195    24473178
196    47880601
197    13605984
198    12894316
Name: population, Length: 199, dtype: int64

In [3]:
df.sort_index()

0      31161376
1      19433602
2       2900401
3         84463
4       9141596
         ...
194      179727
195    24473178
196    47880601
197    13605984
198    12894316
Name: population, Length: 199, dtype: int64

In [4]:
df.sort_index(ascending=True).head()

0    31161376
1    19433602
2     2900401
3       84463
4     9141596
Name: population, dtype: int64

In [5]:
df.sort_index(ascending=False).head(5)

198    12894316
197    13605984
196    47880601
195    24473178
194      179727
Name: population, dtype: int64

In [6]:
df[34]

18754916

In [7]:
df[[29,100,159]]

29     4418636
100    5538634
159    5829237
Name: population, dtype: int64

In [8]:
df[0:51]

0       31161376
1       19433602
2        2900401
3          84463
4        9141596
5       41733271
6        2884229
7          89253
8       22031750
9        8391643
10       9295784
11       8958406
12      11106932
13       9199259
14      15605217
15     149273778
16       7348328
17       1299943
18        359577
19       3705472
20       9473172
21        338000
22         60129
23      10377676
24     199300000
25        283700
26        398989
27        701583
28       1987105
29       4418636
30      34004889
31       7912398
32      17233576
33    1344000000
34      18754916
35      20341241
36      56578037
37       3622775
38      46076848
39        626425
40        492654
41       4688000
42      11257101
43         25312
44       1124833
45      10496088
46      80274983
47        868136
48         70965
49       5547683
50       9813210
Name: population, dtype: int64

In [9]:
df[-20:]

179      1344817
180     10847002
181     73443863
182         9484
183     44346525
184     32428167
185     45593300
186      3378974
187    311556874
188     28562400
189       108435
190     28888369
191       108095
192     87967651
193       224704
194       179727
195     24473178
196     47880601
197     13605984
198     12894316
Name: population, dtype: int64

In [10]:
df[-20:-10]

179      1344817
180     10847002
181     73443863
182         9484
183     44346525
184     32428167
185     45593300
186      3378974
187    311556874
188     28562400
Name: population, dtype: int64