In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("hospital.csv")

In [3]:
df

,country,state,county,lat,lng,type,measure,beds,population,year,source,source_url
0,AF,NaN,NaN,33.00,65.00,TOTAL,1000HAB,0.5,31161376,2012,world-bank,https://datahub.io/world-bank/sh.med.beds.zs
1,AO,NaN,NaN,-12.50,18.50,TOTAL,1000HAB,0.8,19433602,2005,world-bank,https://datahub.io/world-bank/sh.med.beds.zs
2,AL,NaN,NaN,41.00,20.00,TOTAL,1000HAB,2.6,2900401,2012,world-bank,https://datahub.io/world-bank/sh.med.beds.zs
3,AD,NaN,NaN,42.50,1.50,TOTAL,1000HAB,2.5,84463,2009,world-bank,https://datahub.io/world-bank/sh.med.beds.zs
4,AE,NaN,NaN,24.00,54.00,TOTAL,1000HAB,1.1,9141596,2012,world-bank,https://datahub.io/world-bank/sh.med.beds.zs
...,...,...,...,...,...,...,...,...,...,...,...,...
194,WS,NaN,NaN,-13.58,-172.33,TOTAL,1000HAB,1.0,179727,2005,world-bank,https://datahub.io/world-bank/sh.med.beds.zs
195,YE,NaN,NaN,15.00,48.00,TOTAL,1000HAB,0.7,24473178,2012,world-bank,https://datahub.io/world-bank/sh.med.beds.zs
196,ZA,NaN,NaN,-29.00,24.00,TOTAL,1000HAB,2.8,47880601,2005,world-bank,https://datahub.io/world-bank/sh.med.beds.zs
197,ZM,NaN,NaN,-15.00,30.00,TOTAL,1000HAB,2.0,13605984,2010,world-bank,https://datahub.io/world-bank/sh.med.beds.zs
198,ZW,NaN,NaN,-20.00,30.00,TOTAL,1000HAB,1.7,12894316,2011,world-bank,https://datahub.io/world-bank/sh.med.beds.zs

In [4]:
df.head()

,country,state,county,lat,lng,type,measure,beds,population,year,source,source_url
0,AF,NaN,NaN,33.0,65.0,TOTAL,1000HAB,0.5,31161376,2012,world-bank,https://datahub.io/world-bank/sh.med.beds.zs
1,AO,NaN,NaN,-12.5,18.5,TOTAL,1000HAB,0.8,19433602,2005,world-bank,https://datahub.io/world-bank/sh.med.beds.zs
2,AL,NaN,NaN,41.0,20.0,TOTAL,1000HAB,2.6,2900401,2012,world-bank,https://datahub.io/world-bank/sh.med.beds.zs
3,AD,NaN,NaN,42.5,1.5,TOTAL,1000HAB,2.5,84463,2009,world-bank,https://datahub.io/world-bank/sh.med.beds.zs
4,AE,NaN,NaN,24.0,54.0,TOTAL,1000HAB,1.1,9141596,2012,world-bank,https://datahub.io/world-bank/sh.med.beds.zs

In [5]:
df.tail()

,country,state,county,lat,lng,type,measure,beds,population,year,source,source_url
194,WS,NaN,NaN,-13.58,-172.33,TOTAL,1000HAB,1.0,179727,2005,world-bank,https://datahub.io/world-bank/sh.med.beds.zs
195,YE,NaN,NaN,15.00,48.00,TOTAL,1000HAB,0.7,24473178,2012,world-bank,https://datahub.io/world-bank/sh.med.beds.zs
196,ZA,NaN,NaN,-29.00,24.00,TOTAL,1000HAB,2.8,47880601,2005,world-bank,https://datahub.io/world-bank/sh.med.beds.zs
197,ZM,NaN,NaN,-15.00,30.00,TOTAL,1000HAB,2.0,13605984,2010,world-bank,https://datahub.io/world-bank/sh.med.beds.zs
198,ZW,NaN,NaN,-20.00,30.00,TOTAL,1000HAB,1.7,12894316,2011,world-bank,https://datahub.io/world-bank/sh.med.beds.zs

In [9]:
df1=pd.read_csv("hospital.csv",squeeze=True,usecols=['population'])
df1

0      31161376
1      19433602
2       2900401
3         84463
4       9141596
         ...
194      179727
195    24473178
196    47880601
197    13605984
198    12894316
Name: population, Length: 199, dtype: int64

In [10]:
df1.values

array([  31161376,   19433602,    2900401,      84463,    9141596,
         41733271,    2884229,      89253,   22031750,    8391643,
          9295784,    8958406,   11106932,    9199259,   15605217,
        149273778,    7348328,    1299943,     359577,    3705472,
          9473172,     338000,      60129,   10377676,  199300000,
           283700,     398989,     701583,    1987105,    4418636,
         34004889,    7912398,   17233576, 1344000000,   18754916,
         20341241,   56578037,    3622775,   46076848,     626425,
           492654,    4688000,   11257101,      25312,    1124833,
         10496088,   80274983,     868136,      70965,    5547683,
          9813210,   32692163,   15243883,   86422240,    3213972,
         46742697,    1327439,   90139927,    5388272,     853637,
         65342780,     102975,    1624140,   63258810,    3728874,
         25387710,   10420471,    1848147,    1483921,     943639,
         11107017,     107446,      46400,   14948803,     747718,
          5456200,    8640691,    4238389,    9495328,    9971727,
        248452413, 1250000000,    4580084,   75539862,   31890011,
           320716,    7910500,   59379449,    2842132,    8090872,
        128047000,   16792089,   42030676,    5607200,   14541423,
           104728,      49887,   49307835,    3348853,    6444530,
          5538634,    3891356,    6285750,     175544,   20425000,
          1989939,    3028115,     506953,    2059709,     246194,
         33241898,      36460,    2859458,   21151640,     353398,
        115695473,      56366,    2072487,   15049353,     420028,
         49301050,     620079,    2824699,   24187487,    3111906,
          1252404,   14962112,   29068159,    2081044,   13624467,
        135320422,    5982526,   16530388,    4953088,   26066693,
            10005,    4384000,    3498029,  187281475,    3706483,
         29506788,   95570047,      17955,    4615839,   38063255,
          3724655,   24800612,   10557560,    6333976,    2588000,
          2196074,   20147528,  143049528,    9273757,   29155187,
         36193783,   12004701,    5183688,     556064,    5829237,
          6237923,      32105,    7936127,    7320807,     184524,
           529131,    5398384,    2059953,    9449213,    1072000,
            87441,   20442541,   10096633,    6595943,   67195028,
          7697510,    5267900,    1093523,     103986,    1344817,
         10847002,   73443863,       9484,   44346525,   32428167,
         45593300,    3378974,  311556874,   28562400,     108435,
         28888369,     108095,   87967651,     224704,     179727,
         24473178,   47880601,   13605984,   12894316], dtype=int64)

In [11]:
df1.index

RangeIndex(start=0, stop=199, step=1)

In [12]:
df1.dtype

dtype('int64')

In [13]:
df1.is_unique

True

In [14]:
df1.ndim

1

In [15]:
df.ndim

2

In [16]:
df1.shape

(199,)

In [17]:
df1.size

199